/* ************************ ROOT ***************************** */

:root {
  --dark: #212529;
  --primary: #ef9146;
  --secundary: #001681;
  --grey: #EFEFEF;
  --darkGrey: #797979;
  --hover: #e8f0fe;
  --white: #FFFFFF;
  --green: #bffb6d;
  --darkGreen: #9efe16;

  --backEnd: #f8d0b2;
  --backEndHover: #f5c19a;

  --menu-height: 65px;
  --paddingHorizontal: 0 60px;

  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.shadown {
  -webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.33); 
  box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.33);
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

button {
  opacity: 0.7;
}

button:hover {
  opacity: 1;
  transition: 0.3s;
}

/* ************************ Modal e Botões ***************************** */

.modalExcluirCurso {
  background-color: var(--white);
  width: 400px;
  height: 180px;
  padding: 20px;
  position: absolute;
  top: 20vh;
  left: calc(50vw - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  z-index: 2;
}

.botaoNeutro {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--backEnd);
  margin: 8px;
}

.botaoNeutro:hover {
  background-color: var(--backEndHover);
}

.botaoGreen {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--green);
  margin: 8px;
  opacity: 1;
}

.botaoGreen:hover {
  background-color: var(--darkGreen);
}

.botaoPequeno {
  padding: 3px;
  border-radius: 5px;
  margin: 3px;
}

/* ************************ NavMenu ***************************** */

.NavMenu-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: var(--dark);
  height: var(--menu-height);
  padding: var(--paddingHorizontal);
  flex-direction: row;
  justify-content: space-between;
  color: var(--grey);
  z-index: 2;
}

.NavMenu-container .logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.NavMenu-container .logo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo h2 {
  font-size: 20px;
  font-weight: normal;
  color: var(--grey);
  margin-top: 5px;
}

.menu-itens-web {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link{
  font-size: 15px;
  margin: 0 7px;
  text-decoration: none;
  font-weight: normal;
  color: var(--darkGrey);
}

.link:hover {
  color: var(--grey);
}

.active {
  color: var(--grey);
}

.menu-itens-mobile {
  display: none;
}

.NavMenu-Login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavMenu-Login img {
  width: 35px;
  border-radius: 50%;
  margin: 0 8px;
}

.NavMenu-Login a {
  font-size: 15px;
}

@media (max-width: 800px) {
  .NavMenu-container {
    padding: 0;
    justify-content: space-around;
    position: sticky;
    top: 0;
  }

  .logo {
    margin: 0;
    margin-top: 5px;
  }

  .logo .link {
    padding: 0;
  }

  .NavMenu-container .logo img {
    width: 40px;
  }

  .menu-itens-web {
    display: none;
  }

  .menu-itens-mobile {
    display: flex;
  }

  .menu-itens-mobile .dropdown-toggle {
    font-size: 20px;
    color: var(--grey);
  }

  .link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px;
  }

  .menu-itens-mobile li .link {
    font-size: 20px;
  }
}

/* *************************** RODAPE ****************************** */

.RodapeText {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.RodapeEnd {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* *************************** Cursos ****************************** */

.agendaDeCursosCard {
  border-radius: 10px;
  margin: 5px;
  background-color: #E8F0FE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.agendaCursosImgTituloContainer {
  min-width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {

  .agendaDeCursosCard {
    flex-direction: column;
  }

  .agendaCursosImgTituloContainer {
    flex-direction: column;
  }

}

/* *************************** Home ****************************** */

.home-container .logo-treina-recife {
  width: 90%;
  max-width: 500px;
  display: flex;
  margin: auto;
}